In [40]:
d = {'Date':[1860,1974,1973,2019,2013,2015]}
df = pd.DataFrame(data=d)
df

   Date
0  1860
1  1974
2  1973
3  2019
4  2013
5  2015

In [54]:
def create_decade(df):
    df["decade"] = df["Date"].apply(lambda x: (str(x)[0:3]+ '0'))
    return df
create_decade(df)

   Date decade
0  1860   1860
1  1974   1970
2  1973   1970
3  2019   2010
4  2013   2010
5  2015   2010

In [ ]:
!!! A mettre
def create_decade(df_artsper):
    df_artsper["Decade"] = df_artsper["Date"].apply(lambda x: (str(x)[0:3]+ '0'))
    return df_artsper
create_decade(df_artsper)

In [59]:
df1 = df.groupby('decade')['Date'].value_counts()
df1

decade  Date
1860    1860    1
1970    1973    1
        1974    1
2010    2013    1
        2015    1
        2019    1
Name: Date, dtype: int64

In [ ]:
# error handling !!!